$color-cyan: hsl(171, 66%, 44%);
$color-blue: hsl(233, 100%, 69%);
$color-blue-shadow: hsl(233, 60%, 59%);
$color-gray-dark: hsl(212, 10%, 33%);
$color-gray-light: hsl(201, 11%, 66%);
$color-footer: hsl(220, 18%, 97%);

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //if browser default is 16px, now 1rem = 10px
}

body {
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  color: $color-gray-light;
}